.main {
  min-height: 100vh;
  padding: 5rem var(--page-padding);
}

.heading {
    margin-top: 2rem;
    font-size: var(--fs-h3);
    margin-left: 12%;
}

.galleries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 25%));
  grid-gap: 1rem;
  justify-content: center;
  margin-top: 3rem;
}

.gallery {
    position: relative;
    transition: transform 150ms ease-in-out;
    -webkit-transition: transform 150ms ease-in-out;
    -moz-transition: transform 150ms ease-in-out;
    -ms-transition: transform 150ms ease-in-out;
    -o-transition: transform 150ms ease-in-out;
}

.gallery:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.galleryText {
    position: absolute;
    width: 100%;
    padding: 5% 10px;
    background: rgba(0, 0, 0, 0.651);
    color: var(--text-clr);
}

.galleryImg {
  /* max-width: 340px; */
  width: 100%;
}

@media (max-width: 600px) {
  .heading {
    width: auto;
    text-align: center;
    margin-left: unset;
  }
}
