.slider {
  cursor: pointer;
  height: max-content;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.box {
  padding: 2rem;
  /* background: lightgray; */
  /* height: 20rem; */
}

.text {
  color: white;
  opacity: 0.6;
  text-align: left;
  font-style: italic;
  font-weight: 300;
}

/* .dots {
  color: red;
  margin: auto;
} */

.text .red .name {
  color: #c9afbe;
}

.text .blue .name {
  color: #b5c3d3;
}

.red .name {
  color: #c9afbe;
}

.blue .name {
  color: #b5c3d3;
}
