.home {
  display: flex;
  min-height: 100dvh;

  background: url("/images/main_img_cut_reduced.jpg") -10vw no-repeat;
  background-position: left;
  background-size: cover;
  position: relative;
  width: 100%;

  top: 0;
  left: 0;
}

.fill {
  width: 40%;
}

.about {
  width: 50%;
  height: fit-content;
  margin: 5rem 2rem;
  padding: 2rem;
  background: rgb(0 0 0 / 50%);
  color: var(--text-clr);
}

.name {
  font-size: 1.8rem;
}
.text {
  font-size: 1.6rem;
}

.subName {
  opacity: 0.7;
  font-size: 1.4rem;
  margin: 0;
  font-style: italic;
  margin-bottom: 1rem;
}

.socials {
  position: absolute;
  bottom: 2rem;
  right: 5rem;
  font-size: 4rem;
  display: flex;
  gap: 1rem;
  fill: white;
}

.icon {
  fill: var(--text-clr);
}

.icon:hover {
  transition: 200ms ease-in-out;
  -webkit-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  -ms-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  cursor: pointer;
  fill: #cd3e3e;
}

.info {
  width: 100%;
}

.bgSpace {
  position: relative;
  background: url("/images/7.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 20rem;
  width: 100%;
}

.bgSpace:before,
.bgSpace:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 15px;
  content: "";
  z-index: 2;
}

.bgSpace:before {
  top: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), var(--bg-clr));
}

.bgSpace:after {
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--bg-clr));
}

.detail {
  display: flex;
  align-items: center;

  padding: 2rem var(--page-padding) 2rem 0;
}

.detailImgWrapper {
  max-width: 40%;
}

.detailImg {
  width: 100%;
  border-radius: 0 10% 10% 0;
  -webkit-border-radius: 0 10% 10% 0;
  -moz-border-radius: 0 10% 10% 0;
  -ms-border-radius: 0 10% 10% 0;
  -o-border-radius: 0 10% 10% 0;
}

.detailText {
  color: var(--text-clr);
  max-width: 45rem;
  margin-left: 5rem;
}

.link {
  display: block;
  font-size: 1.2rem;
  width: max-content;
  margin: var(--page-padding);
}
.link:hover {
  text-decoration: underline;
}

@media (max-height: 400px) {
  .socials {
    display: none;
  }
  .home {
    min-height: 250dvh;
    background-image: url("/images/main_img_cut_reduced.jpg");
    /* background-position: 100%; */
  }
}

@media (max-width: 900px) {
  .fill {
    display: none;
  }

  .about {
    width: 60%;
    position: absolute;
    bottom: 3rem;
    margin: 0;
  }

  .detail {
    flex-direction: column;
    padding: 2rem var(--page-padding) 0;
  }

  .detailImgWrapper {
    max-width: 80%;
    margin-bottom: 2rem;
  }

  .detailImg {
    border-radius: 6px;
  }

  .detailText {
    margin: 0;
    /* text-align: center; */
  }
}

@media (max-width: 600px) {
  .home {
    background: url("/images/main_mobile.jpg") center no-repeat;
    background-size: cover;
    /* background-position: 100%; */
  }

  .about {
    width: 100%;
    bottom: 0;
    padding-bottom: 5rem;
  }

  .name {
    font-size: 1.1rem;
  }

  .subName {
    font-size: 1rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .socials {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
    font-size: 3rem;
    display: flex;
    gap: 1rem;
    fill: white;
  }

  .bgSpace {
    /* height: 30vh; */
    background: url("/images/7_small.jpg") center no-repeat;
    background-size: cover;
    display: none;
  }
}
@media (max-width: 1200px) {
  .name {
    font-size: 1.2rem;
  }
  .text {
    font-size: 1.1rem;
  }
  
  .subName {
    opacity: 0.7;
    font-size: 1rem;
    margin: 0;
    font-style: italic;
    margin-bottom: 1rem;
  }
}
