.home {
  display: flex;
  min-height: 100dvh;

  background: url("/images/portrait.jpeg") -20vw no-repeat;
  position: relative;
  width: 100%;

  top: 0;
  left: 0;
}

.fill {
  width: 40%;
}

.about {
  width: 50%;
  height: fit-content;
  margin: 5rem 2rem;
  padding: 2rem;
  background: rgb(0 0 0 / 50%);
  color: var(--text-clr);
}

.name {
  margin-bottom: 1rem;
}

.socials {
  position: absolute;
  bottom: 2rem;
  right: 5rem;
  font-size: 4rem;
  display: flex;
  gap: 1rem;
  fill: white;
}

.icon {
  fill: var(--text-clr);
}

.icon:hover {
  transition: 200ms ease-in-out;
  -webkit-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  -ms-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  cursor: pointer;
  fill: #cd3e3e;
  cursor: pointer;
}

.info {
  width: 100%;
  /* min-height: 100vh; */
}

.bgSpace {
  background: url(./images/7.jpg) center no-repeat;
  background-attachment: fixed;
  height: 30vh;
  width: 100%;
}

.detail {
  display: flex;
  align-items: center;

  padding: 2rem var(--page-padding) 2rem 0;
}

.detailImgWrapper {
  max-width: 40%;
}

.detailImg {
  width: 100%;
  border-radius: 0 10% 10% 0;
  -webkit-border-radius: 0 10% 10% 0;
  -moz-border-radius: 0 10% 10% 0;
  -ms-border-radius: 0 10% 10% 0;
  -o-border-radius: 0 10% 10% 0;
}

.detailText {
  max-width: 45rem;
  margin-left: 5rem;
}

@media (max-height: 400px) {
  .socials {
    display: none;
  }
}

@media (max-width: 900px) {
  .fill {
    display: none;
  }

  .about {
    width: 60%;
    position: absolute;
    bottom: 3rem;
    margin: 0;
  }

  .detail {
    flex-direction: column;
    padding: 2rem var(--page-padding);
  }

  .detailImgWrapper {
    max-width: 80%;
    margin-bottom: 2rem;
  }

  .detailImg {
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.detailText {
  margin: 0;
}
}

/* 192.168.1.7:5173 */

@media (max-width: 600px) {
  .home {
    background-position: center;
  }

  .about {
    width: 100%;
    bottom: 2rem;
  }

  .name {
    font-size: 1.1rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .socials {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
    font-size: 3rem;
    display: flex;
    gap: 1rem;
    fill: white;
  }
}
