.articleHeading {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.article {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: underline;
  color: var(--text-clr);
}

.text {
  max-width: 50%;
}

.textDetail {
  font-size: 1.2rem;
  font-style: italic;
}

.img {
  width: 100%;
  max-width: 40rem;
  border-radius: 20px;
  margin-top: 1.5rem;
}

@media (max-width: 900px) {
  .text {
    max-width: 100%;
  }

  .img {
    max-width: 100%;
  }
}
