@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,600;1,500&display=swap");

:root {
  font-family: "Roboto Condensed", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.7;
  letter-spacing: 0.3px;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  --text-clr: #ddd0c8;
  --page-padding: 4vw;

  --fs-h3: 1.5rem;
}


* {
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  font-family: inherit;
  all: unset;
}

@media (max-width: 600px) {
  :root {
    --fs-h3: 1.3rem;
  }
}
